{
    "root": true,
    "extends": ["@baltpeter/eslint-config"],
    "rules": {
        "require-atomic-updates": "off",
        "camelcase": ["error", { "properties": "never" }], // :(
        "@typescript-eslint/no-non-null-assertion": "off"
    }
}
